.title{
    font-size: 3.9rem;
    line-height: 4.5rem;

    @media screen and (min-width:760px){
      font-size: 5.4rem;
      line-height: 5rem;
    }
    
    @media screen and (min-width:1100px){
        line-height: 6rem;
      }
    
}

.subTitle{
    font-size: var(--font-size-big);
    line-height: 3rem;
    @media screen and (min-width:760px){
        font-size: 3rem;
        line-height: 4rem;
      }

      @media screen and (min-width:1100px){
        line-height: 5rem;
      }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width:1100px){
        flex-direction: row;
        align-items: center;
        min-height: 100%;
        justify-content: space-around;
        margin: 0 auto;
    }
}
 
.btnHome{
    font-size: var(--font-size-big);
    padding: 1rem 2rem;
    border-right: none;
    @media screen and (min-width:760px){
        font-size: 3.5rem;
      }
}

.title, .subTitle {
    margin-top: 1.5rem;
    margin-bottom: 4.5rem;
}


    .imageContainer{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;

        @media screen and (min-width:1100px){
           margin-top: 6rem;
          }
        .boxImage{
            width: 30%;
            height: 10rem;
            border: 2px solid var(--primary-color);
            box-shadow: 0 3px 6px var(--primary-color);
            border-radius: .7rem .7rem .7rem .7rem;
            overflow: hidden;
            margin: .5rem;

            @media screen and (min-width:760px){
                height: 20rem;
            }

        }
        & img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
.redText{
    color: var(--primary-color);
}

.btnContainer{
    margin-top: 5rem;
    text-align: center;
}

.table {
  border-collapse: collapse;
  width: 100%;

  & tr{
    &:hover{
        opacity: 0.5;
    }
  }


  & td {
    border-bottom: 1px solid #ddd;
    padding: 1rem;
    width: calc(100% / 4);
    /* Remplacer le 6 par le nombre de colonnes de votre tableau */
  }
}



.tableContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--secondary-color);
    width: 100%;
    max-height: 30rem;
    overflow: auto;

    & a{
        width: 100%;
    }

    @media screen and (min-width:760px){
        max-height: 50rem;
    }

    @media screen and (min-width:1100px){
        height: 80rem;
    }


}

.w100{
    width: 100%;
}