.friendContainer{
    display: flex;
    align-items: center;
    margin: 2rem 0 2rem 5rem;
    &:hover {
      opacity: .5;
    }
    & .friendInfos{
        margin-left: 3rem;
    }
}

.friendHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;

    & .friendAvatar{
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        border: 1px solid var(--primary-color);
        margin-right: 3rem;
    }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;

  & .modalContent {
    position: relative;
    z-index: 1;
    max-width: 500px;
    color: var(--bg-color);
    background: var(--modal-color);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--bg-color);
    overflow: hidden;

    &title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    & fieldset{
      margin: 2rem 0;
      border-radius: .5rem;

      & input{
        color: var(--bg-color);
      }
  }

  & legend{
      color: var(--primary-color);
      padding: 0 1rem;
      margin:0 .5rem;
  }


    & .cancelButton {
      position: absolute;
        padding: 0;
        top: .5rem;
        right: .5rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: none;
        cursor: pointer;

    
    }
  }
}

  .table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid green;
    margin-top: 3rem;
  
    & tr{
      &:hover{
          opacity: 0.5;
      }
    }
  
  
    & td {
      border: 1px solid #ddd;
      padding: 1rem;
      width: calc(100% / 4);
      /* Remplacer le 6 par le nombre de colonnes de votre tableau */
    }
  }

  .profileAvatar {
    width: 10rem;
    height: 10rem; 
    border-radius: 50%; 
  }

  .addBtn{
    margin-top: 5rem;
    position: absolute;
    right: 4rem;
    display: block;
  }

  .btnContainer{
    display: flex;
    justify-content: space-around;
    margin: 5rem 0;
  }

.friendBox{
  max-width: 60rem;  
  padding: 2rem; 
}