header{
background-color: transparent;
border-bottom: 1px solid var(--secondary-color);
padding:1rem 0;
&>div{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h1{
        margin: 0;
        padding: 0;
    }
    & a{
        text-decoration: none;
        color:var(--secondary-color);
    }
    }

    & .logo{
        width: 40%;
        height: 10rem;
    }
}
