button{
    all: unset;
   
}

.login{
    border-right: 1px solid var(--secondary-color);
    padding-right: .8rem;
    &:hover{
        color: var(--primary-color);
    }
}
 .signUp{
    margin-left: .8rem;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 5rem;
    padding: 1rem 1.5rem;
    &:hover{
        opacity: .7;
    }
}