.title{
    font-size: var(--font-size-big);
}

.subTitle{
    font-size: var(--font-size-medium);
    margin: 2rem 0;
}

.btnSignUp{
    display: block;
    width: 84%;
    text-align: center;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    // border-radius: 5rem;
    &:hover{
        opacity: .7;
    }
}

.container{
    margin: 0 auto;

}

.formContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;

    & fieldset{
        margin: 2rem 0;
        border-radius: .5rem;
    }

    & legend{
        color: var(--primary-color);
        padding: 0 1rem;
        margin:0 .5rem;
    }

    & a{
        display: block;
        margin-top: 2rem;
        & span{
            text-decoration: underline;
            font-weight: bold;
        }
       
      
    } 
}

.imageContainer{
    width: 45%;
    display: none;

    @media screen and (min-width:760px){
       display: block;
    }
}