.gameListContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem;
  }
  
  .gameList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .gameCard {
    width: 30rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    box-shadow: 0 3px 6px var(--primary-color);
    transition: box-shadow 0.3s ease-in-out;
    &:hover{
        box-shadow: 0 6px 12px var(--primary-color);
    }
    & img{
        width: 100%;
        height: 20rem;
        object-fit: cover;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    & h4 {
        margin: 2rem 1.5rem;
        font-size: 2.4rem;
        font-weight: 700;
        color: #222;
    }

    & p {
        margin: 2rem 1.5rem;
        font-size: 1.6rem;
        color: #555;
      }
    }

    .modal {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
    
      & .modalContent {
        position: relative;
        z-index: 1;
        max-width: 500px;
        background: #222;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    
        &title {
          font-size: 24px;
          margin-bottom: 20px;
        }

        & fieldset{
          margin: 2rem 0;
          border-radius: .5rem;
      }
  
      & legend{
          color: var(--primary-color);
          padding: 0 1rem;
          margin:0 .5rem;
      }
  
    
        & .cancelButton {
          position: absolute;
          top: 10px;
          right: 10px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #ccc;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
    
          &:hover {
            background: #999;
          }
        }
      }
    }
    

.gameContainer{
  display: flex;
  flex-direction: column;
  align-items: center;

  & img{
    margin-top: 5rem;
  }
  & .title{
    margin: 5rem;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid green;

  & tr{
    &:hover{
        opacity: 0.5;
    }
  }


  & td {
    border: 1px solid #ddd;
    padding: 1rem;
    width: calc(100% / 4);
    /* Remplacer le 6 par le nombre de colonnes de votre tableau */
  }
}

