:root{
    font-size: 62.5%;
}

.tac{
    text-align: center;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}


ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--secondary-color);
}

body{
    font-family: var(--font-family);
    font-size: 1.6rem;
    color: var(--secondary-color);
    background-color: #010101
}

img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    padding: 0 1rem;
}

input {
    display: block;
    width: 80%;
    margin: 2rem auto;
    height: 5rem;
    padding: 1rem .8rem;
    border: 1px solid rgba(216, 216, 216, 0.97);
    border-radius: 1.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1;
    background: rgba(255,255,255,0.97);
    color: #212121;
    outline-color: var(--complementary-color);
    // appearance: none;
    transition: all 0.2s ease-in-out;

    &:invalid{
        outline-color: red;
    }
  }


  