:root{
    --primary-color: #D40C0C;
    --secondary-color:#F5F5F5;
    --accent-color:#FFC107;
    --complementary-color:#065279;
    --bg-black: #010101;

    --font-family: 'Open Sans', sans-serif;;

    --font-size-tiny: calc(0.8rem + 0.6vmin);
    --font-size-small: calc(1rem + 0.6vmin);
    --font-size-medium: calc(1.2rem + 0.6vmin);
    --font-size-large: calc(1.4rem + 0.6vmin);
    --font-size-big: calc(1.8rem + 0.6vmin);
    --font-size-huge: calc(2.4rem + 0.6vmin);
}